section {
    display: flex;
    align-items: center;
    justify-content: center;
}

section > p {
    font-size: 150%;
}

a, a:visited, a:hover, a:active {
    color: white; /* White color for links */
    text-decoration: underline; /* Optional: Removes underline from links */
}

@media screen and (max-width: 768px)  {
    section > p {
        font-size: 120%;
    }

    img.dollar {
        max-width: 100%;
        height: auto;
        display: block; /* Remove extra space below the image */
    }
}